name: Deploy FE to S3 Direct

on:
  push:
    branches: [ main ]
    paths:
      - 'front_end/**'

jobs:
  deploy:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: front_end

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Install & Build
        # Khai báo biến môi trường tại đây
        env:
          REACT_APP_API_DOMAIN_ADMIN: ${{ secrets.REACT_APP_API_DOMAIN_ADMIN }}
          REACT_APP_API_DOMAIN: ${{ secrets.REACT_APP_API_DOMAIN }}
          REACT_APP_CLOUD_NAME: ${{ secrets.REACT_APP_CLOUD_NAME }}
        run: |
          npm install
          npm run build 

      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v2
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: us-east-1

      - name: Sync to S3
        # Vì có 'working-directory: front_end' nên đứng ở đây sync ./build là đúng
        run: aws s3 sync ./build s3://toy-store.ptit.online --delete